<div class="container">
  <div>
    <acme-navbar tab="myCards"></acme-navbar>
  </div>

    <md-content class="md-padding" layout-xs="column" layout="row">
      <div flex-xs flex-gt-xs="100" layout="column">

        <md-card md-theme-watch ng-repeat="follow in vm.follows">
          <md-card-title layout="row">
            <md-card-title-text layout-align="start">
              <span class="md-headline">{{follow.deck.name}}</span>
              <span class="md-subhead">{{follow.deck.description}}</span>
            </md-card-title-text>
            <md-card-header-text layout-align="end">
              <span class="md-subhead">{{follow.author}}</span>
            </md-card-header-text>
          </md-card-title>
          <md-card-content layout="row" layout-align="space-between">
            <md-card-title-text layout-align="start center">
              <span class="md-caption">All: {{follow.all}}, Rev: {{follow.rev}}, New: {{follow.new}}</span>
            </md-card-title-text>
            <md-card-title-text layout-align="end end">
              <span class="md-caption">Follows : {{follow.follows}}</span>
            </md-card-title-text>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
          		<md-button ng-click="vm.startLearn(follow)">Learn</md-button>
       	  </md-card-actions>
        </md-card>
      </div>
    </md-content>


</div>
