<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <md-content class="md-padding">
    <div layout-gt-xs="row">
      <md-input-container  class="md-block" flex-gt-sm>
        <label>Login</label>
        <input ng-model="vm.user.username">
      </md-input-container>
    </div>
    <div layout-gt-xs="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>Password</label>
        <input ng-model="vm.user.password" type="password">
      </md-input-container>
    </div>

  <md-button md-no-ink class="md-primary" ng-click="vm.login()">Zaloguj</md-button>
  <md-button ng-click="vm.go('/register')">Zarejestruj</md-button>
  </md-content>

</div>
