<md-content class="md-padding">
  <md-nav-bar md-selected-nav-item="vm.tab" nav-bar-aria-label="navigation links">
    <md-nav-item md-nav-click="vm.goto('myCards')" name="myCards">My Cards</md-nav-item>
    <md-nav-item md-nav-click="vm.goto('manage')" name="manage">Manage</md-nav-item>
    <md-nav-item md-nav-click="vm.goto('browse')" name="browse">Browse Decks</md-nav-item>
  </md-nav-bar>
  <!--search-->
</md-content>
