.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0;
}

md-nav-bar md-nav-ink-bar {
  background: green;
}
md-nav-bar .ng-scope {
  color: black;
}