<div class="container">
  <div>
    <acme-navbar tab="manage"/>
  </div>
  <md-content class="md-padding" layout-xs="column">
      <div class="md-padding" flex-xs flex-gt-xs="100" layout="row">
	  			<md-input-container flex-xs flex-gt-xs="30">
	         		<input ng-model="vm.newDeck.name" placeholder="New deck name">
	      		</md-input-container>
	  			<md-input-container flex-xs flex-gt-xs="60">
	         		<input ng-model="vm.newDeck.description" placeholder="Deck description">
	      		</md-input-container>
	      	<md-button layout-align="end" ng-click="vm.clickSave()" flex-xs flex-gt-xs="10">Save</md-button>
	  </div>

      <div flex-xs flex-gt-xs="100" layout="column">

        <md-card md-theme-watch ng-repeat="deck in vm.decks">
          <md-card-title layout="row">
            <md-card-title-text layout-align="start">
              <span class="md-headline">{{deck.name}}</span>
              <span class="md-subhead">{{deck.description}}</span>
            </md-card-title-text>
            <md-card-header-text layout-align="end">
              <span class="md-subhead">{{deck.account.name}} {{deck.account.surname}}</span>
            </md-card-header-text>
          </md-card-title>
          <md-card-content layout="row" layout-align="end">
            <md-card-title-text>
              <span class="md-caption">Follows : {{deck.follows}}</span>
            </md-card-title-text>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
          		<md-button ng-click="vm.go('/edit/'+deck.id)">Manage</md-button>
       	  </md-card-actions>
        </md-card>
      </div>
    </md-content>
</div>
