<div class="container">
  <div>
    <acme-navbar tab="myCards"></acme-navbar>
  </div>
  <md-content class="md-padding" layout-xs="column">

    <div layout="row" layout-align="end end">
      <md-button ng-click="vm.clickSwapWords()">Change words</md-button>
    </div>
    <div layout="row">
      <div flex-xs flex-gt-xs="100" layout="column">

        <md-card md-theme-watch>
          <md-card-title layout="row">
            <md-card-title-text layout-align="center center">
              <span class="md-headline">{{vm.currentWords.fword.word}}</span>
            </md-card-title-text>
          </md-card-title>
        </md-card>

        <md-card md-theme-watch ng-click="vm.clickSWord()">
          <md-card-title layout="row">
            <md-card-title-text layout-align="center center">
              <span class="md-headline">{{(vm.showSWord)?vm.currentWords.sword.word:'?'}}</span>
            </md-card-title-text>
          </md-card-title>
        </md-card>
      </div>
    </div>

    <div layout="row" layout-align="center center">
      <md-button md-no-ink class="md-primary" ng-click="vm.clickResult(2)">Good</md-button>
      <md-button ng-click="vm.clickResult(1)">Hard</md-button>
      <md-button class="md-warn" ng-click="vm.clickResult(0)">Bad</md-button>
    </div>
  </md-content>
</div>
