#vertical-container {
  height: 550px;
  width: 100%; }

#vertical-container .repeated-item {
  border-bottom: 1px solid #ddd;
  padding-top: 10px; }

#vertical-container md-content {
  margin: 16px; }

#vertical-container md-virtual-repeat-container {
  border: solid 1px grey; }

#vertical-container .md-virtual-repeat-container .md-virtual-repeat-offsetter div {
  padding-left: 16px; }