<div class="container" ng-cloak>
  <div>
    <acme-navbar tab="manage"></acme-navbar>
  </div>
  <md-content layout-xs="column" layout="column">

    <div layout="row">
      <div flex-xs flex-gt-xs="50" layout="column" class="md-padding">
        <md-virtual-repeat-container id="vertical-container">
          <div md-virtual-repeat="item in vm.dynamicItems" md-on-demand
               class="repeated-item" flex>
            <md-card md-theme-watch ng-click="vm.clickCard(item)">
              <md-card-title layout="row">
                <md-card-title-text layout-align="start center">
                  <span class="md-headline">{{item.fWord.word}}</span>
                  <span class="md-subhead">{{item.fWord.lang}}</span>
                </md-card-title-text>
                <md-card-title-text layout-align="end center">
                  <span class="md-headline">{{item.sWord.word}}</span>
                  <span class="md-subhead">{{item.sWord.lang}}</span>
                </md-card-title-text>
              </md-card-title>
            </md-card>
          </div>
        </md-virtual-repeat-container>
      </div>

      <div flex-xs flex-gt-xs="50" layout="column" class="md-padding">
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Deck name</label>
            <input ng-model="vm.deck.name">
          </md-input-container>
        </div>
        <div layout="row" layout-align="end end">
          <md-button ng-click="vm.editDeckName()">Save</md-button>
        </div>
        <br><br>


        <div layout-gt-xs="row" layout-align="center center">
          <label>Edit</label>
        </div>
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-xs flex-gt-xs="30">
            <label>First Word</label>
            <input ng-model="vm.edit.fWord.word">
          </md-input-container>
          <md-input-container class="md-block" flex-xs flex-gt-xs="15">
            <label>Language</label>
            <md-select ng-model="vm.selectedLangEdit.fWord">
              <md-option ng-repeat="lang in vm.lang" value="{{lang}}">
                {{lang}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block" flex-xs flex-offset="10" flex-gt-xs="30">
            <label>Second Word</label>
            <input ng-model="vm.edit.sWord.word">
          </md-input-container>
          <md-input-container class="md-block" flex-xs flex-gt-xs="15">
            <label>Language</label>
            <md-select ng-model="vm.selectedLangEdit.sWord">
              <md-option ng-repeat="lang in vm.lang" value="{{lang}}">
                {{lang}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>


        <div layout="row" layout-align="end end">
          <md-button ng-click="vm.updateCard()">Save</md-button>
        </div>
        <br><br>

        <div layout-gt-xs="row" layout-align="center center">
          <label>Add</label>
        </div>
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-xs flex-gt-xs="30">
            <label>First Word</label>
            <input ng-model="vm.newCard.fWord">
          </md-input-container>
          <md-input-container class="md-block" flex-xs flex-gt-xs="15">
            <label>Language</label>
            <md-select ng-model="vm.selectedLangNew.fWord">
              <md-option ng-repeat="lang in vm.lang" value="{{lang}}">
                {{lang}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block" flex-xs flex-offset="10" flex-gt-xs="30">
            <label>Second Word</label>
            <input ng-model="vm.newCard.sWord">
          </md-input-container>
          <md-input-container class="md-block" flex-xs flex-gt-xs="15">
            <label>Language</label>
            <md-select ng-model="vm.selectedLangNew.sWord">
              <md-option ng-repeat="lang in vm.lang" value="{{lang}}">
                {{lang}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>


        <div layout="row" layout-align="end end">
          <md-button ng-click="vm.addNewCard()">Save</md-button>
        </div>
      </div>

    </div>
  </md-content>
</div>
