<div class="container">
  <div>
    <acme-navbar tab="browse"></acme-navbar>
  </div>
<md-content class="md-padding" layout-xs="column" layout="row">
      <div flex-xs flex-gt-xs="100" layout="column">

        <md-card md-theme-watch ng-repeat="deck in vm.decks">
          <md-card-title layout="row">
            <md-card-title-text layout-align="start">
              <span class="md-headline">{{deck.name}}</span>
              <span class="md-subhead">{{deck.description}}</span>
            </md-card-title-text>
            <md-card-header-text layout-align="end">
              <span class="md-subhead">{{deck.account.name}} {{deck.account.surname}}</span>
            </md-card-header-text>
          </md-card-title>
          <md-card-content layout="row" layout-align="space-between">
            <md-card-title-text layout-align="start center">
              <span class="md-caption">All: {{deck.all}}</span>
            </md-card-title-text>
            <md-card-title-text layout-align="end end">
              <span class="md-caption">Follows : {{deck.follows}}</span>
            </md-card-title-text>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
              <md-button ng-click="vm.clickButton(deck)" ng-class="vm.getButtonMessage(deck).type">{{vm.getButtonMessage(deck).name}}</md-button>
       	  </md-card-actions>
        </md-card>

      </div>
    </md-content>
</div>
