<div class="container">

  <div>
    <acme-navbar creation-date="vm.creationDate"></acme-navbar>
  </div>

    <md-content class="md-padding">
      <div layout-gt-xs="row">
        <md-input-container  class="md-block" flex-gt-sm>
          <label>Name</label>
          <input ng-model="vm.user.name">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Surname</label>
          <input ng-model="vm.user.surname">
        </md-input-container>
        <md-input-container  class="md-block" flex-gt-sm>
          <label>Email</label>
          <input ng-model="vm.user.email" type="email">
        </md-input-container>
      </div>
      <div layout-gt-xs="row">
        <md-input-container  class="md-block" flex-gt-sm>
          <label>Login</label>
          <input ng-model="vm.user.login">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Password</label>
          <input ng-model="vm.user.pass.first" type="password">
        </md-input-container>
        <md-input-container  class="md-block" flex-gt-sm>
          <label>Password</label>
          <input ng-model="vm.user.pass.second" type="password">
        </md-input-container>
      </div>
  		<md-button md-no-ink class="md-primary" ng-click="vm.clickRegister()">Zarejestruj</md-button>
  		<md-button class="md-warn" ng-click="vm.go('/home')">Anuluj</md-button>
    </md-content>




</div>
